apiVersion: v1
kind: ConfigMap
metadata:
  name: ratelimit-config
  namespace: istio-system
data:
  config.yaml: |
    domain: sms
    descriptors:
      - key: generic_key
        value: global
        rate_limit:
          unit: minute
          requests_per_unit: 60

