{{- if .Values.istio.enabled }}
{{- $modelHost := printf "%s-model.%s.svc.cluster.local" (include "sms-checker.fullname" .) .Release.Namespace }}
{{- $mirroring := .Values.istio.mirroring }}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ include "sms-checker.fullname" . }}-model-vs
  labels:
    app.kubernetes.io/name: {{ include "sms-checker.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: "istio"
spec:
  hosts:
    - {{ $modelHost }}
  http:
    - route:
        - destination:
            host: {{ $modelHost }}
            subset: v1
          weight: 100
      {{- if and $mirroring $mirroring.enabled }}
      mirror:
        host: {{ $modelHost }}
        subset: v2
      mirrorPercentage:
        value: {{ default 100.0 $mirroring.percentage }}
      {{- end }}
{{- end }}
