apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sms-checker.fullname" . }}-model
  labels:
    app.kubernetes.io/name: {{ include "sms-checker.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: "model"
spec:
  replicas: {{ .Values.modelService.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "sms-checker.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: "model"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "sms-checker.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/component: "model"
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.imagePullSecrets }}
        - name: {{ .name }}
        {{- end }}
      {{- end }}
      containers:
        - name: model-service
          image: "{{ .Values.modelService.image.repository }}:{{ .Values.modelService.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
